/*news page*/

.logoimg {
	display: inline-block;
	vertical-align: middle;
	margin-right: 60px;
}
header {
	margin-top: 41px;
}
.nav {
	display: inline-block;
	vertical-align: middle;
}
li {
	display: inline-block;
	vertical-align: middle;
}
a {
	font-size: 26px;
    color: #8D81FF;
    margin-right: 87px;
    font-weight: 700;
	font-size: 26px;
	line-height: 31px;
}
ul {
	display: inline-block;
}
.active {
	color: #4E6FAE;
}
.container {
	width: 1052px;
	margin: 0 auto;
}
.section1 {
	margin-top: 97px;
}
.line0 {
	display: inline-block;
	vertical-align: middle;
	margin-left: 18px;
	margin-right: 17px;

}
.section2 {
	margin-top: 120px;
	vertical-align: middle;
}
.h3news {
	display: inline-block;
	vertical-align: middle;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	font-family: "BPG Square", sans-serif;

color: #4E6FAE;
}
.h4s {
	display: inline-block;
	vertical-align: middle;
	font-weight: 400;
	font-size: 26px;
	line-height: 31px;
	font-family: "BPG Square", sans-serif;

color: #4E6FAE;
}
.card1 {
	display: inline-block;
	width: 500px;
	height: 198px;
	background: #E7E7E7;
	margin-right: 45px;
	margin-top: 26px;
	margin-bottom: 91px;
}
.card2 {
	display: inline-block;
	width: 500px;
	height: 198px;
	background: #E7E7E7;
	margin-top: 26px;
	margin-bottom: 91px;
}
img {
	margin-right:30px;
	display: inline-block;
	margin-left: 36px;
	vertical-align: top;
}
.text4 {
	font-size: 16px;
	font-weight: 400;
	width: 335px;
    height: 95px;
    display: inline-block;
    margin-right: 5px;
    margin-top: 15px;
    vertical-align: top;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #7E8898;
}
.name1 {
	margin-left: 23px;
	margin-top: 21px;
	margin-bottom: 30px;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	color: #3F4145;
	font-family: 'Roboto', sans-serif;
}

.mainimg {
	margin-right: 0px;
	margin-left: 0px;
}

/*contact page*/

span {
	font-family: "BPG Square", sans-serif;
	font-weight: 400;
	color: #7E8898;

}

.ph3 {
	font-family: "BPG Square", sans-serif;
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
	color: #4E6FAE;
	margin-bottom: 15px;
}
.ph4 {
	font-family: "BPG Square", sans-serif;
	font-weight:400;
	font-size: 20px;
	line-height: 24px;
	color: #3F4145;
	margin-bottom: 15px;
}
.ph4s2 {
	font-family: "BPG Square", sans-serif;
	font-weight:400;
	font-size: 20px;
	line-height: 24px;
	color: #3F4145;
	margin-bottom: 15px;
}
.div-s1 {
	width: 1056px;
	display: inline-block;
	margin-top: 40px;
}
.section01 {
	background: #E7E7E7;
	margin-top:31px;
}
iframe {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 40px;
}
.diven {
	display: inline-block;
	vertical-align: top;
	margin-right: 40px;
}
.footer-s2 {
	margin-top: 150px;
}

/*Home page*/

.pic1 {
	width: 450px;
	height: 250px;
	margin-right: 0px;
	margin-left: 0px;
	display: inline-block;
	margin-right: 66px;
}
.div-s5 {
	font-weight: 700;
	font-size: 14px;
	line-height: 19px;
	color: #4E6FAE;
	width: 525px;
	height: 350px;
	display: inline-block;
	font-family: "BPG Square", sans-serif;

}
.myh3-s1 {
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	color: #84FF81;
}
.diven-s1 {
	width: 50px;
	height: 50px;
	background: #5012D5;
	padding: 10px;
	margin-bottom: 18px;
	margin-top: 44px;

}
.h4s1 {
	margin-bottom: 8px;
	font-weight: 400;
	font-size: 32px;
	line-height: 32px;
	color: #8D81FF;
	font-family: "BPG Square", sans-serif;
}
.h4s2 {
	font-family: "BPG Square", sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #4E6FAE;
	margin-bottom: 13px;
}
p {
	margin-bottom: 20px;
}
.div-s6 {
	font-weight: 700;
	font-size: 14px;
	line-height: 19px;
	color: #4E6FAE;
	width: 525px;
	height: 350px;
	display: inline-block;
	font-family: "BPG Nostalgia", sans-serif;
}
.p-s1 {
	margin-bottom: 145px;
	display: block;
	font-weight: 700;
	font-size: 14px;
	line-height: 19px;
	color: #4E6FAE;
	width: 1000px;
	height: 50px;
	display: inline-block;
	font-family: "BPG Nostalgia", sans-serif;
}
.pic-ss2 {
	display: block;
	margin-left: 0px;
	margin-bottom: 32px;
} 
